@import "../../styles/utils";

.page-converter {
  height: 75vh; 

  &__title {
    text-align: center;
    padding-top: 60px;

    font-size: 65px;
    letter-spacing: .3em;
    text-shadow: $shadow;
  }

  &__converter {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 300px;
    width: 400px; 
    margin: 8vh auto;
    padding-top: 30px;

    border-radius: 6px;
    box-shadow: 3px 3px 7px;

    background: $green;
  }

  &__have {
    margin: 30px auto;
  }

  &__label {
    margin-bottom: 8px;
    text-shadow: $shadow;
  }

  &__input,
  &__select {
    border-radius: 3px;
    box-shadow: $shadow;

    background: $yellow;
  }

  &__input {
    padding-left: 7px;   
  }

  &__select {
    margin-left: 15px;
    padding: 3px; 

    cursor: pointer;
  }
}
